body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin: 20px;
}
.bookmark {
  background-color: cornsilk;
  display: flex;
  padding: 5px 10%;
}
a {
  margin: 1px 73px;
}
a:hover {
  background-color: brown;
  color: #fff;
}
ul img {
  image-rendering: center;
}

.basic-details img {
  width: 250px;
  border-radius: 50%;
  margin-right: 20px;
}
.basic-details p {
  text-align: center;
}
.hero-section {
  display: grid;
  grid-template-columns: 300px 400px;
  align-items: center;
  column-gap: 2rem;
}
h2 {
  background-color: darkgreen;
  color: #fff;
  text-align: center;
  width: 100%;
}
.education-details div {
  margin-bottom: 20px;
}
li section {
  display: flex;
}
body.dark-mode {
  background-color: #333;
  color: #fff;
}
body.light-mode {
  background-color: #fff;
  color: #333;
}
